body{
	background-color: blue;
	font-family: 'Nova Flat', cursive;
	font-size: 40px;
	padding-left: 30px;
}

/*iPhone 6 Portrait*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
	body{
		background-color: red;
		font-family: 'Nova Flat', cursive;
		font-size: 100px;
		padding-left: 60px;
	}

}